.container {
  width: 360px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: rgb(17, 17, 17);
}

p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
  color: white;
}

.subtitle {
  color: rgb(138, 138, 138);
}