.flexbox {
  display: flex;
}

.item-1 {
  width: 50px;
  background-color: lightblue;
}

.item-2 {
  background-color: lightpink;
  flex-grow: 1;
}

.item-3 {
  width: 75px;
  background-color: lightblue;
}