p {
  font-family: Verdana;
  margin-bottom: 0;
  margin-top: 0;
}

.course-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.course-subtitle {
  color: rgb(131, 131, 131);
  font-size: 16px;
  margin-bottom: 18px;
}

.course-description {
  font-size: 16px;
  width: 300px;
  line-height: 24px;
  margin-bottom: 18px;
}

.get-started-button {
  font-family: Verdana;
  font-size: 15px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 6px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  cursor: pointer;
}