.apple-headline {
  font-family: Arial;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;

}
.apple-can-help {
  font-family: Arial;
  text-align: center;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 12px;
}
.apple-more-info {
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: blue;
  cursor: pointer;
}